.pricingTable{
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
    padding: 50px 15px;
    text-align: center;
    margin-top: 30px;
    color: #292929;
    perspective: 700px;
    z-index: 1;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
}
.pricingTable:hover{ color: #fff; }
.pricingTable:after{
    content: "";
    width: 100%;
    height: 100%;
    background: #3485ef;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    transform: rotateY(70deg);
    transition: all 0.3s ease-in-out 0s;
}
.pricingTable:hover:after{
    opacity: 1;
    transform: rotateY(0deg);
}
.pricingTable .icon{
    width: 69px;
    height: 69px;
    line-height: 69px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    font-size: 25px;
    color: #3485ef;
    position: absolute;
    top: -34px;
    left: 0;
    right: 0;
}
.pricingTable .pricingTable-header{
    margin-bottom: 30px;
}
.pricingTable .title{
    display: block;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 10px 0;
}
.pricingTable .price-value{
    display: inline-block;
    border-bottom: 5px solid #3485ef;
    font-size: 30px;
    font-weight: 700;
    transition: all 0.3s ease-in-out 0s;
}
.pricingTable:hover .price-value{
    border-bottom-color: #fff;
}
.pricingTable .pricing-content{
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}
.pricingTable .pricing-content li{
    font-size: 14px;
    line-height: 40px;
}
@media only screen and (max-width: 990px){
    .pricingTable{ margin-bottom: 30px; }
}
@media only screen and (max-width: 767px){
    .pricingTable{ margin-bottom: 50px; }
}